<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div class="title">
    <h1>Habilidades</h1>
  </div>

  <div *ngIf="loading">
    <h5 class="btn btn-warning">CARGANDO...</h5>
  </div>

  <div *ngIf="showMessage" [class]="class" role="alert">
    {{message}}
  </div>

  <div *ngIf="!loading">
    <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <select class="form-control" formControlName="category">
            <option>Lenguajes Programación</option>
            <option>Entornos</option>
            <option>Capacidad Personal</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="skillsForm.invalid || isGuest">
          <span class="fa fa-plus"></span> Añadir habilidad
        </button>
      </div>
    </form>


    <ul class="list-group">
      <li class="list-group-item" *ngFor="let skill of skillList">
        {{skill.description}} -- {{skill.category}}

        <button type="button" [disabled]="isGuest" (click)="delete(skill)" class="btn btn-danger float-right">
          <span class="fa fa-remove"></span>
        </button>
      </li>
    </ul>
  </div>
</div>
