<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div class="title">
    <h1>Intereses</h1>
  </div>


  <div *ngIf="loading">
    <h5 class="btn btn-warning">CARGANDO...</h5>
  </div>

  <div *ngIf="showMessage" [class]="class" role="alert">
    {{message}}
  </div>


  <div *ngIf="!loading">
    <form [formGroup]="interestForm" (ngSubmit)="onSubmit()">
      <div class="col text-right" style="margin-bottom: 10px">
        <button type="button" class="btn btn-info" (click)="edit(interestForm)" *ngIf="!save">
          <span class="fa fa-pencil"></span> Editar
        </button>

        <button type="button" class="btn btn-warning" (click)="edit(interestForm)" *ngIf="save">
          <span class="fa fa-remove"></span> Cancelar
        </button>
      </div>

      <div class="col">
        <textarea class="form-control" id="description" name="interest" formControlName="description" rows="10" autocomplete="description"></textarea>
      </div>

      <div class="col" *ngIf="false">
        <input type="text" class="form-control" formControlName="id" placeholder="id" autocomplete="id">
      </div>

      <div style="margin-top: 10px">
        <button type="submit" class="btn btn-success btn-block" *ngIf="save">Guardar</button> &nbsp;
      </div>
    </form>
  </div>

</div>
