<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div>
    <h1>Información Personal</h1>
  </div>

  <div *ngIf="loading">
    <h5 class="btn btn-warning">CARGANDO...</h5>
  </div>

  <div *ngIf="showMessage" [class]="class" role="alert">
    {{message}}
  </div>

  <div *ngIf="!loading">
    <form [formGroup]="personalinfoForm" (ngSubmit)="onSubmit()">

      <div class="col text-right" style="margin-bottom: 10px">
        <button type="button" class="btn btn-info" (click)="edit(personalinfoForm)" *ngIf="!save">
          <span class="fa fa-pencil"></span> Editar
        </button>

        <button type="button" class="btn btn-warning" (click)="edit(personalinfoForm)" *ngIf="save">
          <span class="fa fa-remove"></span> Cancelar
        </button>
      </div>

      <div class="form-group">
        <label for="name" class="center-block">Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" autocomplete="name">
      </div>

      <div class="form-group">
        <label for="lastname" class="center-block">Apellidos</label>
        <input type="text" class="form-control" formControlName="lastname" placeholder="Apellidos" autocomplete="lastname">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="birthday" class="center-block">Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="birthday" placeholder="Fecha de nacimiento" autocomplete="birthday">
          </div>

          <div class="col">
            <label for="phone" class="center-block">Teléfono</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono" autocomplete="phone">
          </div>

          <div class="col">
            <label for="mail" class="center-block">Email</label>
            <input type="text" class="form-control" formControlName="mail" placeholder="Email" autocomplete="mail">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="city" class="center-block">Ciudad</label>
            <input type="text" class="form-control" formControlName="city" placeholder="Ciudad" autocomplete="city">
          </div>

          <div class="col">
            <label for="country" class="center-block">País</label>
            <input type="text" class="form-control" formControlName="country" placeholder="País" autocomplete="country">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="information">Información adicional</label>
        <textarea class="form-control" id="information" formControlName="information" rows="5" autocomplete="information"></textarea>
      </div>

      <div class="col" *ngIf="false">
        <input type="text" class="form-control" formControlName="id" placeholder="id" autocomplete="id">
      </div>

      <div style="margin-top: 10px">
        <button type="submit" class="btn btn-success btn-block" [disabled]="personalinfoForm.invalid" *ngIf="save">Guardar</button> &nbsp;
      </div>
    </form>
  </div>
</div>
