<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div>
    <h1>Cursos y Distinciones</h1>
  </div>

  <div *ngIf="true" class="alert alert-warning" role="alert">
    MENSAJE
  </div>

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col">
          <select class="form-control" formControlName="type">
          <option selected="selected">Curso</option>
          <option>Distinción</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="place" placeholder="Lugar">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="courseForm.invalid">
        <span class="fa fa-plus"></span> Añadir curso
      </button>
    </div>
  </form>


  <ul class="list-group">
    <li class="list-group-item">Cras justo odio

      <button type="button" (click)="delete()" class="btn btn-danger float-right">
        <span class="fa fa-remove"></span>
      </button>

      <button type="button" (click)="edit()" class="btn btn-info float-right">
        <span class="fa fa-pencil"></span>
      </button>
    </li>
  </ul>
</div>