<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Nueva Educación</h5>
      <button type="button" class="close" #buttonfer data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- INICIO -->
      <form #newEducationForm="ngForm" (ngSubmit)="add(newEducationForm)">
        <div class="row">
          <div class="col">
            <label for="place" class="center-block">Lugar</label>
            <input type="text" class="form-control no-border" name="place" [(ngModel)]="educationModel.place" placeholder="Lugar"
              autocomplete="place">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="degree" class="center-block">Titulación</label>
            <input type="text" class="form-control" name="degree" [(ngModel)]="educationModel.degree" placeholder="Empresa" autocomplete="degree">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="datefrom" class="center-block">Fecha Desde</label>
            <input type="date" class="form-control" name="datefrom" [(ngModel)]="educationModel.datefrom" placeholder="Fecha Desde"
              autocomplete="datefrom">
          </div>

          <div class="col">
            <label for="dateto" class="center-block">Fecha Hasta</label>
            <input type="date" class="form-control" name="dateto" [(ngModel)]="educationModel.dateto" placeholder="Fecha Hasta"
              autocomplete="dateto">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="description" class="center-block">Descripción</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="educationModel.description" rows="5"
              autocomplete="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Guardar</button> &nbsp;
        </div>
      </form>
      <!-- FIN -->
    </div>
  </div>
</div>
