<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div class="title">
    <h1>Educación</h1>
  </div>

  <div *ngIf="loading">
    <h5 class="btn btn-warning">CARGANDO...</h5>
  </div>

  <div *ngIf="true" [class]="class" role="alert">
    {{message}}
  </div>

  <div>
    <button class="btn btn-success" (click)="add()" data-toggle="modal" data-target="#exampleModal">
      <span class="fa fa-plus"></span> Añadir nueva titulación
    </button>
  </div>

  <div *ngIf="!loading">

    <div class="form-group" *ngFor="let edu of dashBoardService.educationList; let i = index;">

      <form #educationForm="ngForm" (ngSubmit)="onSubmit(educationForm)">
        <div class="text-right" style="margin-bottom: 10px">

          <button type="button" (click)="editForm(educationForm, edu.id)" class="btn btn-info" *ngIf="educationFormDisabled">
            <span class="fa fa-pencil"></span>
          </button>

          <button type="button" (click)="remove(educationForm, edu.id)" class="btn btn-danger" *ngIf="educationFormDisabled">
            <span class="fa fa-trash"></span>
          </button>

          <button type="button" (click)="saveForm(educationForm, edu.id)" class="btn btn-success" *ngIf="!educationFormDisabled">
            <span class="fa fa-check"></span>
          </button>

          <button type="button" (click)="cancel(educationForm, edu.id)" class="btn btn-warning" *ngIf="!educationFormDisabled">
            <span class="fa fa-remove"></span>
          </button>
        </div>

        <div class="row">
          <div class="col">
            <label for="place" class="center-block">Lugar</label>
            <input type="text" class="form-control no-border" name="place" [disabled]="true" [(ngModel)]="edu.place" placeholder="Lugar"
              autocomplete="place">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="degree" class="center-block">Titulación</label>
            <input type="text" class="form-control" name="degree" [disabled]="true" [(ngModel)]="edu.degree" placeholder="Empresa"
              autocomplete="degree">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="datefrom" class="center-block">Fecha Desde</label>
            <input type="date" class="form-control" name="datefrom" [disabled]="true" [(ngModel)]="edu.datefrom" placeholder="Fecha Desde"
              autocomplete="datefrom">
          </div>

          <div class="col">
            <label for="dateto" class="center-block">Fecha Hasta</label>
            <input type="date" class="form-control" name="dateto" [disabled]="true" [(ngModel)]="edu.dateto" placeholder="Fecha Hasta"
              autocomplete="dateto">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="description" class="center-block">Descripción</label>
            <textarea class="form-control" id="description" name="description" [disabled]="true" [(ngModel)]="edu.description" rows="5"
              autocomplete="description"></textarea>
          </div>
        </div>

        <div class="col" *ngIf="false">
          <input type="text" class="form-control" placeholder="id" autocomplete="id" name="id" [(ngModel)]="edu.id">
        </div>

        <div style="margin-top: 10px">
          <button type="submit" class="btn btn-success btn-block" *ngIf="false">Guardar</button> &nbsp;
        </div>

        <hr>

      </form>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-addeducation></app-addeducation>
  </div>
